<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

  <context-param>
    <param-name>dfc.config</param-name>
    <param-value>/WEB-INF/classes/dfc.properties</param-value>
  </context-param>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.example.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>
